<% provide(:title, "Welcome") %>
<div class="ml-3 mr-3">
  <p>Rails-Brite is the world's largest event tech platform, powering millions of events in 180+ countries and territories.</p>
  <p>Discover your next experience on Rails-Brite.</p>
  <button class="btn btn-lg btn-outline-info ml-auto mr-auto">
    <%= link_to 'Sign up now!', users_new_path %>
  </button>
</div>
