<% provide(:title, "Welcome") %>
<div class="ml-3 mr-3">
  <p>Rails-Brite is the world's largest event tech platform, powering millions of events in 180+ countries and territories.</p>
  <p>Discover your next experience on Rails-Brite.</p>

  <% if current_user.nil?%>
    <button class="btn btn-lg btn-outline-primary ml-auto mr-auto">
      <%= link_to 'Sign up now!', new_user_path %>
    </button>
    <%else%>
    <button class="btn btn-lg btn-outline-primary ml-auto mr-auto">
      <%= link_to 'Create a new event!', new_event_path %>
    </button>
  <%end%>
</div>
