<% provide(:title, "Welcome") %>
<div class="ml-4 mr-4">
  <p>Rails-Brite is the world's largest event tech platform, powering millions of events in 180+ countries and territories.</p>
  <p>Discover your next experience on Rails-Brite.</p>
</div>
