<h1>Last Event</h1>

<div>
    <div>
      <h3><%= @event.title %></h3>
      <p><%= @event.description %></p>
      <ul>
        <li><%= @event.place %></li>
        <li><%= @event.date_event %></li>
      </ul>
    </div>
</div>
